@import "./bootstrapOverride";

.hero {
  background-color: $primary;
  display: flex;
  padding-inline: 8em;
  align-items: center;
  @media screen and (max-width: 991px) {
    padding-inline: 2em;
    flex-direction: column;
  }
}

.heroTitle {
  width: 50%;

  p {
    color: scale-color($primary, $lightness: +40%);
    font-size: 1.3em;
  }
  button {
    height: 50px;
    padding-inline: 20px;
    font-weight: 500;
    &:first-of-type {
      color: white;
    }
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    min-height: 20vh;
    padding-bottom: 20px;
    button {
      width: 200px;
      margin-block: 10px;
    }
  }
}
.heroImg {
  width: 50%;
  img {
    width: 100%;
  }
}

.alertGreen {
  top: 80%;
  left: 80%;
}
.alertBell {
  top: 20%;
  left: 80%;
}

.heroBottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  padding-inline: 30px;
  @media screen and (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
    padding-block: 20px;
  }
}

.heroBottomItem {
  display: flex;
  align-items: center;
  justify-content: center;

  div:first-of-type {
    display: flex;
    align-items: center;

    width: 15%;
    border-radius: 50%;
    background-color: $secondary;
    padding: auto;

    svg {
      color: scale-color($secondary, $lightness: -20%);
    }
  }
  @media screen and (max-width: 991px) {
    justify-content: flex-start;
    padding-block: 20px;
    div:first-of-type {
      width: 40px;
    }
  }
  div:nth-of-type(2) {
    margin-left: 1.2em;
    h3 {
      font-size: 1em;
      font-weight: 600;
      margin: 0;
    }
    span {
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.46);
    }
  }
}

.stars {
  color: rgb(255, 204, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 14px;
  }
}
.footer {
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.108);
  border-width: 50%;
  span {
    margin-right: auto;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
      margin-inline: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    flex-direction: column;
    align-items: center;
    span {
      margin: 0;
    }
  }
}

.navbarEdit {
  margin-inline-start: 20px;
}
@media screen and (min-width: 991px) {
  .move {
    order: 3;
  }
  .move1 {
    order: 2;
  }
}

@media screen and ((min-width: 992px) and (max-width:1200px)) {
  .btnHide {
    display: none;
  }
}
@media screen and ((max-width: 575px)) {
  .btnHide {
    display: none;
  }
}
